<div class="wrapper-main">
  <div class="banner">

  </div>
  <div class="cards-container">

  <div class="row">
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://source.unsplash.com/featured/?cocktails" alt="random cocktails">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://source.unsplash.com/featured/?cocktails" alt="random cocktails">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <img src="https://source.unsplash.com/featured/?cocktails" alt="random cocktails">
      <div class="caption">
        <h3>Thumbnail label</h3>
        <p>...</p>
        <p><a href="#" class="btn btn-primary" role="button">Button</a> <a href="#" class="btn btn-default" role="button">Button</a></p>
      </div>
    </div>
  </div>
</div>









  <% @cocktails.each do |cocktail| %>
<li>
  <%= link_to cocktail.name, cocktail_path(cocktail) %>
</li>
<% end %>

<button class= 'btn btn-secondary'><%= link_to "Create a Cocktail", new_cocktail_path %></button>









  </div>
</div>
